<!DOCTYPE html>
<html lang="ch-zn">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>工时查询</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/index/gs.css">
	<link rel="stylesheet" href="__STATIC__/index/css/style.css">
</head>
<body>
	<div class="content">
		<div class="tirtle">
			<h2 class="tirtle-text"><i class="tirtle-fw"></i>DHU志愿者服务时长查询</h2>
			<div class="kb"></div>
				<li class="user-msg" id="user-name"><i class="user-msg-fw"></i>姓名：{$Think.session.name}</li>
			
		</div>
		<div id="card" class="weather">
				
				
					
						<div id="date">暂时未查到您的志愿服务时长相关信息，如有疑问请咨询相关管理员哦~</div>
						
				
				
			</div>
	</div>
		<p class="html-btm">Copyright © 2018 东华大学易班技术开发部</p>
</body>
</html>